<!doctype html>
<div class="container">
  <div class = "row">
    <div class = "col-"
      <button type="button" class="btn btn-danger btn-sm">Dislike</button>
    </div>
    <div class = "col-md">
      <div class="card"  sty;e="width: 18rem"
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
    <div class = "col-md">
      <div class = "card" style ="width: 18rem;"
        <div class="card-header">Name</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Class: </li>
            <li class="list-group-item">Hometown: </li>
            <li class="list-group-item">Major: </li>
            <li class="list-group-item">Smoke: </li>
            <li class="list-group-item">Alcohol: </li>
            <li class="list-group-item">Neat: </li>
            <li class="list-group-item">Bed time: </li>
            <li class="list-group-item">Snore: </li>
          </ul>
          <p class="card-text"> "say more"</p>
        </div>
      </div>
    </div>
    <div class = "col-"
      <button type="button" class="btn btn-info btn-sm">Like</button>
    </div>
  </div>
  <div class = "row">
    <button type="button" class="btn btn-primary">Report/Flag</button>
  </div>
</div>
