<!doctype html>

<!-- Login Boxes -->
<div class="mx-auto" style= "width: 200px">
  <h1><strong>DormMate</strong></h1>
  <div class="container">
  	<span class="italic">All fields are required</span>
    <form>
		<div class="input">
			<label>Email:</label>
			<input type="text" name="email">
		</div>
		<div class="input">
			<label>Password:</label>
			<input type="password" name="password1">
		</div>
		<div class="input">
			<label>Confirm Password:</label>
			<input type="password" name="password2">
		</div>
		<div class="input">
			<input class="btn btn-primary" value="Create Account" (click)="checkCredentials()">
			<!-- type="submit"-->
		</div>
		
	</form>
  </div>
</div>