<!doctype html>
<body>
  <div class="mx-auto">
    <div class="card-group">
      <div class="card" style="width: 10rem;"></div>
      <div class="card" style="width: 50rem;">
        <img [src]="user.photoUrl" class="card-img-top" alt="My Facebook Photo">
      </div>
      <div class="card" style="width: 50rem;">
        <div class="card-header">
          <h4 *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}</h4>
          <h4 *ngIf="loggedIn===false">Ike</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Class:  2020</li>
            <li class="list-group-item">Hometown: Wilmington, DE</li>
            <li class="list-group-item">Major: CSC</li>
            <li class="list-group-item">Smoke:  No</li>
            <li class="list-group-item">Alcohol:  No</li>
            <li class="list-group-item">Neat: 3</li>
            <li class="list-group-item">Bedtime:  10pm</li>
            <li class="list-group-item">Snore:  No</li>
            <li class="list-group-item">Honestly, I hate cheese</li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <button routerLink="/editProfile" routerLinkActive="active" class="btn btn-primary">Edit Profile</button>
        <button routerLink="/match" routerLinkActive="active" class="btn btn-primary">Back to Matching</button>
        <button type="button" routerLink="/" (click)="signOut()" *ngIf="loggedIn===true" class="btn btn-primary">Sign Out</button>
      </div>
    </div>
  </div>
</body>
