<!doctype html>
<body>
  <div class="container">
    <div class="row align-items-center">
      <div class="col" >
           <button type="button" class="btn btn-danger">Dislike</button>
        </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://www.w3schools.com/images/w3schools_green.jpg" class="card-img-top" alt="W3Schools.com">
        </div>
      </div>
      <div class="col" >
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">Name</h5>
          <div class="card-body">
            <ul>
              <li>Class:</li>
              <li>Hometown:</li>
              <li>Major:</li>
              <li>Smoke:</li>
              <li>Alcohol:</li>
              <li>Neat:</li>
              <li>Bedtime:</li>
              <li>Snore:</li>
            </ul>
            <p class="card-text">"say more"</p>
          </div>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info">Like</button>
      </div>
    </div>
    <div class="row align-items-center">
      <!-- <button type="button" class="btn btn-primary">Report/Flag</button> -->
    </div>
  </div>
</body>
