<!doctype html>

<body>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <form>
          <div class="card" style="width: 18rem;">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" class="card-img-top" alt="W3Schools.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>
      </div>

      <div class="col" >
        <div class="card" style="width: 40rem;">
          <div class="card-body">
            <form [formGroup]="updateIssueForm" (ngSubmit)="submitForm()" novalidate>
              <input class="card-header" [(ngModel)]="firstName" name="firstName" type="text" placeholder="Enter First Name">
              <input class="card-header" [(ngModel)]="lastName" name="lastName" type="text" placeholder="Enter Last Name">
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Gender</legend>
                  <div class="col">
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Gender" id="snoreOption1" value="option1">
                      <label class="form-check-label" for="snoreOption1">Male</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Gender" id="snoreOption2" value="option2">
                      <label class="form-check-label" for="snoreOption2">Female</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Gender" id="snoreOption3" value="option3">
                      <label class="form-check-label" for="snoreOption3">Rather not say</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-4">Class:</label>
                <select formControlName="Class" class="form-control col-sm-7" id="exampleFormControlSelect1" [(ngModel)]="exampleFormControlSelect1">
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                </select>
              </div>
              <div class="form-group row">
                <label for="inputHometown" class="col-sm-4 col-form-label">Hometown:</label>
                <input formControlName="Hometown" [(ngModel)]="hometown" name="hometown" type="text" class="form-control col" id="inputHometown" placeholder="Enter Hometown">
              </div>
              <div class="form-group row">
                <label for="inputMajor" class="col-sm-4 col-form-label">Major:</label>
                <input [(ngModel)]="major" name="major" type="text" class="form-control col" id="inputMajor" placeholder="Enter Major">
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Smoker?</legend>
                  <div class="col">
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Smoker" id="smokeOption1" value="option1">
                      <label class="form-check-label" for="smokeOption1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Smoker" id="smokeOption2" value="option2">
                      <label class="form-check-label" for="smokeOption2">No</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Alcohol?</legend>
                  <div class="col">
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Alcohol" id="drinkOption1" value="option1">
                      <label class="form-check-label" for="drinkOption1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Alcohol" id="drinkOption2" value="option2">
                      <label class="form-check-label" for="drinkOption2">No</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Neatness?</legend>
                  <div class="col">
                    <div class="form-check form-check-inline col-sm-3">
                      <input class="form-check-input" type="radio" name="Neat" id="neatOption1" value="option1">
                      <label class="form-check-label" for="neatOption1">1</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-3">
                      <input class="form-check-input" type="radio" name="Neat" id="neatOption2" value="option2">
                      <label class="form-check-label" for="neatOption2">2</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-3">
                      <input class="form-check-input" type="radio" name="Neat" id="neatOption3" value="option2">
                      <label class="form-check-label" for="neatOption3">3</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-3">
                      <input class="form-check-input" type="radio" name="Neat" id="neatOption4" value="option2">
                      <label class="form-check-label" for="neatOption4">4</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-3">
                      <input class="form-check-input" type="radio" name="Neat" id="neatOption5" value="option2">
                      <label class="form-check-label" for="neatOption5">5</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label for="inputBedtime" class="col-sm-4 col-form-label">Bedtime:</label>
                <input formControlName="Bedtime" [(ngModel)]="bedtime" name="major" type="text" class="form-control col" id="inputBedtime" placeholder="Enter Average Bedtime">
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Snore?</legend>
                  <div class="col">
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Snore" id="snoreOption1" value="option1">
                      <label class="form-check-label" for="snoreOption1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline col-sm-4">
                      <input class="form-check-input" type="radio" name="Snore" id="snoreOption2" value="option2">
                      <label class="form-check-label" for="snoreOption2">No</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                <label for="bioInput">Write a Bio!</label>
                <textarea formControlName="Bio" [(ngModel)]="bio" name="bio" class="form-control" id="bioInput" rows="3"></textarea>
              </div>
              <div class="align-items-center">
                <a type="submit" class="btn btn-primary">Confirm Edits!</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
